.container{
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.search{
    margin: 10px 5vw; 
}

.search h1{
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: underline var(--primary-color);
    text-underline-offset: 5px; 
}

.input-box{
    margin: 10px 0;
}

.input-box input{
    width: 300px;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px 0 0 20px;
    border: 1px solid var(--text-color);
    border-right: none;
}

.input-box button{
    width: 70px;
    height: 40px;
    background: none;
    border: 1px solid var(--text-color);
    border-radius: 0 20px 20px 0;
    border-left: none;
    cursor: pointer;
}

.input-box button:hover{
    background-color: var(--bg-color-2);
}


.place-grid{
    display: grid;
    margin: 50px 5vw;
    width: 80vw;
    grid-template-columns: 1fr 1fr;
}

.load-btn{
    width: max-content;
    padding: 10px 30px;
    margin: 30px 40vw;
    border: 1px solid #000;
    border-radius: 40px;
    cursor: pointer;
}

.load-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}