.category{
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    
}

.image{
    height: 250px;
    width: 200px;
    overflow: hidden;
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.place-desc h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color-highlight);
}

.place-desc .theme{
    color: var(--text-color);
}

.rating{
    display: flex;
    align-items: center;
    gap: 10px;
}
.star-icon{
    color: var(--primary-color);
}
.view-btn{
    padding: 5px 10px;
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}
