.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 7vh;
   padding: 0 5vw;
   background-color: var(--bg-color);
   font-size: 20px;
   position: sticky;
   top: 0;
   z-index: 1000;
   font-size: 1.1rem;
   color: var(--text-color);
   z-index: 999;
}

.nav-left{
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-left p span{
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.nav-right{
    display: flex;
}

.nav-btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-btns p{
    padding: 0 5px;
}

.nav-btns p {
    display: inline-block;
    position: relative;
}
  
.nav-btns p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    border-radius: 30px;
    bottom: 1px;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-btns p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



.sign-btn{
    background-color: var(--primary-color);
    color: var(--text-color-primary);
    padding: 0px 20px;
    margin-left: 20px;
    border-radius: 30px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.nav-btns a.active-nav{
   background-color: var(--primary-color);
   color: white;
   padding: 0px 10px;
   border-radius: 20px;
}