.top-category{
    position: relative;
    height: 60vh;
    width: 100vw;
    overflow: hidden;  
}

.category-img{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
}

.category-img img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}


.category-desc{
    position: absolute;
    bottom: 3vh;
    left: 5vw;
    color: white;
    text-shadow: 2px 2px 2px #000;
    font-size: 2.5rem;
    font-weight: 700;  
    line-height: 3rem;
}

.category-desc .colored{
    color: var(--primary-color);
    font-size: 3rem;

}

