:root{
    --primary-color: #fc8019;
    --primary-color-hover: #ff4d00;
    --bg-color: #fff;
    --bg-color-2: #eeeeee;
    --bg-color-3: #dad8d8;
    --bg-color-4: #a5a5a5;
    --text-color: #333333;
    --text-color-highlight: #000; 
    --text-color-primary: #fff;
}   

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
    transition: 0.2s ease-in-out;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

button{
    border: none;
}
a{
    text-decoration: none;
}
